{% extends 'containerPrincipal.html' %} 

{% block titulo_do_documento %} {{ grupo.nome }} {% endblock titulo_do_documento %}

{% block botao %} <a href="{% url 'pagina-inicial' %}">Inicio</a>{% endblock botao %}

{% block cabecalho %} 
    <h1>{{ grupo.nome|truncatewords:5 }}</h1>
    <form action="{% url 'grupo-actions' acao='sair-do-grupo' pk=grupo.id %}" id="sair-do-grupo" method="post">
        <input type="submit" value="Sair do grupo">
        {% csrf_token %}
    </form>
{% endblock cabecalho %}

{% block conteudo %}
    <div id="grid-grupo-detail">
        <div id="subtarefas">
            
            <h4 id="tarefas">Tarefas</h4>

            <form class="grupo-edit-form" action="{% url 'grupo-actions' acao='criar-subtarefa' pk=grupo.id %}" method="post"> 
                <input type="text" placeholder="Titulo da subtarefa..." name="titulo" required="true">
                <input type="submit" value="Criar">
            
                {% csrf_token %}
            </form>

            {% for subtarefa in lista_de_subtarefas %} 
                <div class="subtarefa-lista">
                    {% if subtarefa.completo %}
                        <div>
                            <p class="subtarefa-completa">{{ subtarefa.titulo }}</p>
                            <p class="subtarefa-creditos">{{ subtarefa.completado_por }}</p>
                        </div>
                    {% else %} 
                        <p>{{ subtarefa.titulo }}</p>
                    {% endif %}
        
                    <div class="lista-item-acao">
                        {% if not subtarefa.completo %}
                            <form action="{% url 'subtarefa-actions' grupo=grupo.id pk=subtarefa.id acao='completar' %}" method="post" class="item-form-acao">
                            {% csrf_token %}
                                <input type="submit" value="Completar" class="completar-tarefa">
                            </form>
                        {% endif %}
        
                        <form action="{% url 'subtarefa-actions' grupo=grupo.id pk=subtarefa.id acao='apagar' %}" method="post" class="item-form-acao"> {% csrf_token %}
                            <input type="submit" value="Apagar" class="apagar-tarefa">
                        </form>
                    </div>
                </div>
        
                
            {% endfor %}
        </div>

        <div id="usuarios">
            <h5 id="membros">Membros</h5>
            <form action="{% url 'grupo' grupo.id %}" method="post" class="grupo-edit-form">
                {{ add_usuario_form.nome }}
                <input type="submit" value="+">
                {% csrf_token %}
            </form>
            {{ add_usuario_form.errors.nome }}
            
            <ul id="lista-usuarios">
                {% for usuario in lista_de_usuarios %}
                    <li>{{ usuario.username }}</li>
                
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock conteudo %} 
