{% extends 'base.html' %}

{% block main %}
    <div id="lista-de-botoes">
        <div id="botoes-esquerda">
            <div id="botao">
                {% block botao %}{% endblock botao %}
            </div>
            {% block botao_extra %}{% endblock %}
        </div>
        <div id="botoes-direita">
            {% block botao_direita %} {% endblock botao_direita %}
        </div>
        

    </div>
    <div id="container-principal">        
        <div id="cabecalho">
            {% block cabecalho %} {% endblock cabecalho %}
        </div>
        
        <div id="conteudo">
            {% block conteudo %} {% endblock conteudo %}
        </div>

    </div>
{% endblock main %}